body{
   font-family: 'Poppins',sans-serif;
}

header {
 background-color: rgb(0, 0, 0);
 color: rgb(241, 101, 223);

}

.cabecalho-imagem{

  width: 20%;
}
.cabecalho {
   background-color: rgb(253, 97, 227);
color: black;
  display: flex;
  justify-content: space-around;
}
.cabecalho-lista-item {

  display: inline-block;

}